{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<div class = "">
 <div class="content-wrapper"> 
   
        

          <!-- Default box -->
          
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Share RTI query</h3>
            </div> -->
            
              
    <div class="box">
      <div class="box-body">
        <!-- <p class="login-box-msg"><u>Share a new RTI query</u></p> -->
        <form action="index.html" method="post" id = "rti_form">
          <div class="form-group col-xs-6">
            <label for="govt_id">Choose State or Union Government</label>
            <select type="text" class="form-control" placeholder="State or Union Government" id="govt_id" name="govt_id">
               
                {% for gov in gov_list %}
                  <option value = "{{ gov.gov_id }}"> {{ gov.gov_name }}</option>
                {% endfor %}
            </select>
            <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
          </div>

          <div class="form-group col-xs-6">
            <label for="dept_id">Choose RTI department</label>
            <select type="text" class="form-control" placeholder="Select department" id="dept_id" name = "dept_id">
                <!-- <option selected="selected">Select Department</option> -->
                {% for dep in departments %}
                  <option value = "{{ dep.id }}"> {{ dep.department_name }}</option>
                {% endfor %}
            </select>
            <!-- <span class="glyphicon glyphicon-map-marker form-control-feedback"></span> -->
          </div>
          <div class="form-group col-xs-6">
            <label for="authority_name">Input Authority of Department</label>
            <input type="text" class="form-control" placeholder="Authority name" id="authority_name" name="authority_name">
            <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
          </div>
          <div class="form-group col-xs-6">
              <label for="date_id">Date of filing RTI</label>
              <input type="date" class="form-control" placeholder="Date of filing RTI" id="date_id" name="rti_date">
            <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
          </div>
          <div class="form-group">
              <label for="query_id">RTI Query</label>
              <textarea type="text" class="form-control textarea" placeholder="Mention your RTI query" id="query_id" name = "query_text"></textarea>
            <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
          </div>
          
          <div class="form-group">
              <label for="descr_id">Brief Description of RTI query</label>
              <textarea type="text" class="form-control" placeholder="Brief Description" id="descr_id" name = "description"></textarea>
            
          </div>
          <div class="form-group">
            <label for="rti_no_id">Unique RTI number</label>
            <input type="text" class="form-control" placeholder="RTI unique Registration Number" id="rti_no_id" name = "rti_no">
            
          </div>
          <div class="form-group">
            <label for="pass_id">Upload Image of filed RTI(if you have any)</label>
            <input type="file" class="form-control" data-show-preview="false" placeholder="Insert RTI copy if filed Offline" accept="image/*" id="pass_id" name = "photo">
            
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-flat" id="post_id">Post</button>
          </div>
        </form>
      </div><!-- /.box-body -->
    </div><!-- /.box -->


        
  </div><!-- /.content-wrapper -->
</div>
<!--</div>-->
<script>
        
$('#govt_id').change(function(){
  $.ajax({
    url : '/get_departments_of',
    data : {
      gov_id : $('#govt_id').val()
    },
    beforeSend : function(){
      $('#dept_id').html("");
      $('input').attr('disabled', 'disabled');
    },
    success : function(data){
      // alert(data);
      $('#dept_id').html(data);
      $('input').removeAttr('disabled');
    },
    error : function(err){
      console.log(err);
    }
  });
})
$('#rti_form').on('submit',(function(e) {
    e.preventDefault()
    var formData =  new FormData($(this)[0]);
    alert(formData);
    $.ajax({
      url : '/post_rti_query',
      type : 'POST',
      data : formData,
      beforeSend: function(){
        $('#post_id').html("Please wait..");
      },
      success : function(data){
          
          
          // alert(data)
          alert('done');
          // alert(data);
      },
      error : function(data){
          console.log(JSON.stringify(data));
          $('#post_id').html("Post");
      },
      contentType: false,
      processData: false
    });
     $.post(domain_name + 'rtiapp/save_rti_query', formData, function(data) {
        alert(data);
    });
}));

  
$(".textarea").wysihtml5();

  </script>

{% endblock %}