{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
	<!--Main Content-->
	<section class="content">

		<div class="row">
			<div class="col-md-3">

				<!--Department image-->
				<div class="box box-primary">
					<div class="box-body box-profile">
						<img class="profile-user-img img-responsive img-circle" src="{{ dept_logo }}" alt="Department logo">
						<h3 class="profile-username text-center">{{ department_name }}</h3>
						<p class="text-muted text-center">{{ about_department }}</p>

						<ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Followers</b> <a class="pull-right">{{ num_followers }}</a>
              </li>
              <li class="list-group-item">
                <b>RTIs filed</b> <a class="pull-right">{{ file_num_of_rti }}</a>
              </li>
              <li class="list-group-item">
                <b>RTIs responded</b> <a class="pull-right">{{ respond_num_of_rti }}</a>
              </li>
             </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
					</div> <!--/.box-body-->
				</div> <!--/. box-->

				<!--About the department box-->
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Department Minister</h3>
					</div> <!-- /.box-header -->
					<div class="box-body">
						<strong><i class="fa fa-book margin-r-5"></i>Details</strong>
						<p class="text-muted">
							{{ about_minister }} <!-- can be removed if deemed unnecessary-->
						</p>

						<hr>

					</div> <!--/.box body-->
				</div> <!-- /. box-->
			</div> <!-- /. col-->

			<div class="col-md-9">
				<div class="nav-tabs-custom">
					<div class="tab-content">
						<div class="active tab-pane" id="activity">
							<!--Post-->
							<div class="post">
								<div class="user-block">
									<img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
									<span class='username'>
										<a href="#">Jonathan Burke Jr.</a>
										<a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
									</span>
									<span class='description'>Shared publicly - 7:30 PM today</span>
								</div> <!--/.user block-->
								<p>
									Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore the hate as they create awesome
                  tools to help create filler text for everyone from bacon lovers
                  to Charlie Sheen fans.
                 </p>
                 <ul class="list-inline">
                  <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                  <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                  <li class="pull-right"><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                </ul>
                <input class="form-control input-sm" type="text" placeholder="Type a comment">
							</div> <!--post-->

							<!-- Post-->
							<div class="post">
                <div class='user-block'>
                  <img class='img-circle img-bordered-sm' src='../../dist/img/user6-128x128.jpg' alt='user image'>
                  <span class='username'>
                    <a href="#">Adam Jones</a>
                    <a href='#' class='pull-right btn-box-tool'><i class='fa fa-times'></i></a>
                  </span>
                  <span class='description'>Posted 5 photos - 5 days ago</span>
                </div><!-- /.user-block -->
                <div class='row margin-bottom'>
                  <div class='col-sm-6'>
                    <img class='img-responsive' src='../../dist/img/photo1.png' alt='Photo'>
                  </div><!-- /.col -->
                  <div class='col-sm-6'>
                    <div class='row'>
                      <div class='col-sm-6'>
                        <img class='img-responsive' src='../../dist/img/photo2.png' alt='Photo'>
                        <br>
                        <img class='img-responsive' src='../../dist/img/photo3.jpg' alt='Photo'>
                      </div><!-- /.col -->
                      <div class='col-sm-6'>
                        <img class='img-responsive' src='../../dist/img/photo4.jpg' alt='Photo'>
                        <br>
                        <img class='img-responsive' src='../../dist/img/photo1.png' alt='Photo'>
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <ul class="list-inline">
                  <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                  <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                  <li class="pull-right"><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                </ul>

                <input class="form-control input-sm" type="text" placeholder="Type a comment">
              </div><!-- /.post -->
						</div> <!--/.tab-pane-->
					</div> <!--/.tab-content-->
				</div> <!--/.nav-tabs-custom-->
			</div> <!-- /. col-->
		</div> <!--/. row-->
	</section> <!--/.content-->
</div> <!--/. content-wrapper-->
{% endblock %}