<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RTI Feed</title>
    <link href="/static/about/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/static/admin/img/favicon.ico" type="image/gif" sizes="16x16">
    <link href="/static/about/css/aboutpage.css" rel="stylesheet">
    <link href="/static/about/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home"><p class="logo" href="#page-top" style="padding-top:6px;"><b>RTI</b>F<ch>eed</ch> <small class="label" style="background-color: #f39c12;">BETA</small></p></a>
                
            </div>

            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                     <li class="page-scroll">
                        <a href="#team">Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </nav>

    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="" src="/static/dist/img/logo.png" alt="" style = "height : 310px; margin-bottom : -30px; padding-top : 100px;">
                        <span class="" style = "font-size : 80px; "><b>RTI</b>Feed</span>
                       
                </div>
            </div>
        </div>
    </header>

  

    
    <section class="info" id="about" style="background-color:#3b8ab8;color:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-about">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>RTIFeed is a social platform for sharing RTIs and making authentic information available to all people. You may share RTIs which you have filed or propose a new one in the community. RTIs are categorised by departments, topics and states which makes browsing easier. RTIFeed presents personalized authentic information as per reader's relevance and interests.</p>
                    <p>The RTI Act 2005 was a big step towards making the citizens informed about the activities of the Government. Unfortunately, most RTIs filed are often not shared. Moreover, majority of the RTI activists are not part of any organisation, they often act alone, moved by anger at corruption and other illegal activities. RTIFeed aims at forming a fearless and powerful community of people who want to bring a change by spreading awareness amongst masses.</p>
                    <p>
                    It is a path-breaking shift from the traditional news distribution system. Not only does RTIFeed guarantee the authenticity of the information, but also empowers and inspires you to be the source of it.</p>
                </div>
               
              
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4 col-sm-4">                  
                    <div class="team-wrapper">
                        <img src="/static/about/img/paarth.jpg" class="img-responsive" /> 
                    <div class="description">
                       <h3>Paarth Neekhara</h3>
                        <h5> <strong> <a href="mailto:paarth@rtifeed.com">paarth@rtifeed.com</a> </strong></h5>
                        <p>
                            
                        </p>
                        <hr />
                         <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/paarth.neekhara.3" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+PaarthNeekhara/about" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/n_paarth" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/paarth-neekhara-4161a787" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            
                        </ul>
                         
                    </div>
                     </div>
                </div>
                 <div class="col-md-4 col-sm-4">                  
                    <div class="team-wrapper">
                       <img src="/static/about/img/vikash.jpg" class="img-responsive" /> 
                    <div class="description">
                       <h3>Vikash Kumar</h3>
                        <h5> <strong> <a href="mailto:vikash@rtifeed.com">vikash@rtifeed.com</a> </strong></h5>
                        <p>
                            
                        </p>
                        <hr />
                         <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/vikash5507" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/100680247458834139541" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/vikash5507" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vikash-kumar-075a3983" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            
                        </ul>
                         
                    </div>
                     </div>
                </div>
                  <div class="col-md-4 col-sm-4">                  
                    <div class="team-wrapper">
                        <img src="/static/about/img/shubhampandey.jpg" class="img-responsive" />  
                    <div class="description">
                       <h3>Shubham Pandey</h3>
                        <h5> <strong> <a href="mailto:shubham.pandey@rtifeed.com">shubham.pandey@rtifeed.com</a> </strong></h5>
                        <p>
                            
                        </p>
                        <hr />
                         <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100006896414883&fref=ts" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/108863241295690506197" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/vbshubham" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=AAMAABPwDRwBLaK2rnf4i2odsxWeMpc-HEqE__s&trk=hp-identity-name" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            
                        </ul>
                         
                    </div>
                     </div>
                </div>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="col-md-offset-2 col-md-4 col-sm-4">                  
                    <div class="team-wrapper">
                          <img src="/static/about/img/shubhampratap.jpg" class="img-responsive" /> 
                        <div class="description">
                           <h3>Shubham Pratap</h3>
                            <h5><strong> <a href="mailto:shubham.pratap@rtifeed.com">shubham.pratap@rtifeed.com</a> </strong></h5>
                            <p>
                                
                            </p>
                            <hr />
                             <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com/sps11" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/u/0/100229146997172205388" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/sps0101" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/sps11" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                
                            </ul>
                             
                        </div>
                     </div>
                </div>
                  <div class="col-md-4 col-sm-4">                  
                    <div class="team-wrapper">
                      <img src="/static/about/img/Ankit.jpg" class="img-responsive" /> 
                    <div class="description">
                       <h3>Ankit Saxena</h3>
                        <h5><strong><a href="mailto:ankit@rtifeed.com">ankit@rtifeed.com</a> </strong></h5>
                        <p>
                            
                        </p>
                        <hr />
                         <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/ankitsxn826" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ankitsxn826" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://in.linkedin.com/in/ankit-saxena-6932b966" target="_blank" class="btn-team-social btn-team"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            
                        </ul>
                         
                    </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="text-center" id = "contact">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Email</h3>
                        <a href="mailto:team@rtifeed.com" style = "color : white; font-size : 30px;">team@rtifeed.com</a>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/RTIFeed/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/115983350689487936916" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/RTIFeed" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    
    

    
    <script src="/static/about/js/jquery.js"></script>
    <script src="/static/about/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/about/js/classie.js"></script>
    <script src="/static/about/js/cbpAnimatedHeader.js"></script>
    <script src="/static/about/js/jqBootstrapValidation.js"></script>
    <script src="/static/about/js/contact_me.js"></script>
    <script src="/static/about/js/freelancer.js"></script>

</body>

</html>
