{% extends 'base.html' %}
{% block content %}
<div class = "col-md-10">
  <div class="content-wrapper" style = "padding-left : 30px; padding-right : 30px; padding-top : 70px;" id = "feedcontainer"> 
    

  </div>
</div>
<script type="text/javascript">
  $.ajax({
    url : '/get_feed',
    data : {
      startfeed : 0,
      maxfeed : 5
    },
    success : function(data){
      $('#feedcontainer').append(data);
    },
    error : function(err){
      console.log(err);
    }

  })
</script>
{% endblock %}