{% extends 'base.html' %}
{% block content %}
<div class = "col-md-10">
  <div class="content-wrapper" style = "padding-left : 30px; padding-right : 30px; padding-top : 70px;" id = "feedcontainer"> 
    

  </div>
</div>
<script type="text/javascript">
$.ajax({
  url : '/get_feed',
  data : {
    startfeed : 0,
    maxfeed : 5
  },
  success : function(data){
    $('#feedcontainer').append(data);
  },
  error : function(err){
    console.log(err);
  }

})

function make_handlers_for(rti_id){
  // alert(rti_id);
  $('.like'+rti_id).each(function(){
    $(this).on('click', function(){
      post_response(rti_id, 'like');
    });
  });
  
  $('.unlike'+rti_id).each(function(){
    $(this).on('click', function(){
      post_response(rti_id, 'unlike');
    });
  });

  $('.follow'+rti_id).each(function(){
    $(this).on('click', function(){
      post_response(rti_id, 'follow');
    });
  });
  $('.unfollow'+rti_id).each(function(){
    $(this).on('click', function(){
      post_response(rti_id, 'unfollow');
    });
  });

  $('.comment'+rti_id).each(function(){
    $(this).on('keydown', function(e){
      if(e.which == 13){
        // alert("yup");
        post_comment(rti_id, $(this).val());
      };
    });
  });
}

function post_comment(rti_id, comment_text){
  comment_text = $.trim(comment_text);
  if(comment_text.length == 0){
    return;
  }
  $.ajax({
    url : '/post_comment',
    data : {
      comment_text : comment_text,
      rti_query_id : rti_id
    },
    dataType : 'json',
    beforeSend : function(){
      // $('#comment_container{{rti_id}}').append("test");
      $('.comment_container'+rti_id).each(function(){
        $(this).append('<div class="box-comment">'+
              
          '<img class="img-circle img-sm" src="/media/{{ user_pic }}" alt="user image">'+
          '<div class="comment-text">'+
            '<span class="username">'+
              '{{ name_user }}'+
              '<span class="text-muted pull-right"> </span>'+
            '</span>'+
            comment_text +
          '</div>'+
        '</div>');
        $('.comment' + rti_id).each(function(){
          $(this).val("");
        });
        
      });
      
        
    },
    success : function(data){
      // alert(data);
      $('.lc_count'+rti_id).each(function(){
        $(this).html(data['no_likes']+ ' likes - ' + data['no_comments'] +'comments');
      });
      $('.comment_container' + rti_id).each(function(){
        $(this).html(data['comment_html']);
      });
      
      $('.comment' + rti_id).each(function(){
        $(this).val("");
      });
    },
    error : function(err){
      console.log(err);
    }
  });
}

function post_response(rti_id, rtype){
  // alert(rtype);
  url = '';
  if(rtype == 'like'){
    url = '/post_like';
  }
  else if(rtype == 'unlike'){
    url = '/post_unlike';
  }
  else if(rtype == 'follow'){
    url = '/post_follow_query';
  }
  else if(rtype == 'unfollow'){
    url = '/post_unfollow_query'; 
  }

  $.ajax({
    url : url,
    data : {
      rti_query_id : rti_id,
    },
    dataType : 'json',
    beforeSend : function(){

    },
    success : function(data){
      
      handle_success_response(rti_id, data, rtype);
      
    },
    error : function(err){
      console.log(err);
    }
  });
}

function handle_success_response(rti_id, data, rtype){
  
  $('.lc_count'+rti_id).each(function(){
    $(this).html(data['no_likes']+ ' likes - ' + data['no_comments'] +'comments');
  });
  
  if(rtype == 'like'){

    $('.likecontainer'+rti_id).each(function(){
        $(this).html('<button class="btn btn-default btn-xs unlike'+rti_id+'">'+
        '<i class="fa fa-thumbs-up"></i> Liked</button>')
      });

      $('.unlike'+rti_id).each(function(){
        $(this).on('click', function(){
          post_response(rti_id, 'unlike');
        });
      });
  }
  else if(rtype == 'unlike'){
    $('.likecontainer'+rti_id).each(function(){
        $(this).html('<button class="btn btn-default btn-xs like'+rti_id+'">'+
        '<i class="fa fa-thumbs-o-up"></i> Like </button>')
      });

      $('.like'+rti_id).each(function(){
        $(this).on('click', function(){
          post_response(rti_id, 'like');
        });
      });
  
  }
  else if(rtype == 'follow'){
    $('.followcontainer'+rti_id).each(function(){
        $(this).html('<button class="btn btn-default btn-xs unfollow'+rti_id+'">'+
        '<i class="fa fa-star"></i>Unfollow </button>')
      });

      $('.unfollow'+rti_id).each(function(){
        $(this).on('click', function(){
          post_response(rti_id, 'unfollow');
        });
      });
  }
  else if(rtype == 'unfollow'){
    $('.followcontainer'+rti_id).each(function(){
        $(this).html('<button class="btn btn-default btn-xs follow'+rti_id+'">'+
         '<i class="fa fa-star-o"></i>Follow </button>')
      });

      $('.follow'+rti_id).each(function(){
        $(this).on('click', function(){
          post_response(rti_id, 'follow');
        });
      });
  }
}

function comment_handler(comment_id, rti_id, comment_text){
  // alert(comment_text);
  $('.del_comment' + comment_id).each(function(){
    $(this).on('click', function(){
      post_delete_comment(comment_id, rti_id);
    });
  });

  $('.edit_comment' + comment_id).each(function(){
    $(this).unbind('click');
    $(this).on('click', function(){

      edit_comment(comment_id, rti_id, comment_text);
    });
  });
}

function edit_comment(comment_id, rti_id, comment_text){
  $('.comment_content' + comment_id).each(function(){
    $(this).html('<input type="text" class="form-control' +
      ' input-sm comment_edit_content'+ comment_id + '"' + 
      ' id = "comment_edit_content'+ comment_id+'">');
  });
  $('.comment_edit_content' + comment_id).each(function(){
    $(this).val(comment_text);
    $(this).unbind('keydown');
    $(this).on('keydown', function(e){
      if(e.which == 13){
        alert("yup");
        post_edit_comment(comment_id, $(this).val(), rti_id);
      }
    });
  });

  toggle_edit_button(comment_id, comment_text, rti_id);
  
  // $('#comment_edit_content' + comment_id)
}

function post_edit_comment(comment_id, comment_text, rti_id){
  $.ajax({
    url : '/post_edit_comment',
    data : {
      comment_id : comment_id,
      comment_text : comment_text
    },
    beforeSend : function(){

    },
    success : function(data){
      // toggle_edit_button(comment_id, comment_text, rti_id);
      $('.comment_content' + comment_id).each(function(){
        $(this).html(comment_text);

      });
      $('.edit_comment' + comment_id).each(function(){
        $(this).unbind('click');
        $(this).on('click', function(){
          edit_comment(comment_id, rti_id, comment_text);
        });
      });

    },
    error : function(err){

    }
  });
}

function toggle_edit_button(comment_id, comment_text, rti_id){
  $('.edit_comment' + comment_id).each(function(){
    $(this).unbind('click');
    $(this).on('click', function(){
      $('.comment_content' + comment_id).each(function(){
        $(this).html(comment_text);
      });
      $('.edit_comment' + comment_id).each(function(){
        $(this).on('click', function(){
          edit_comment(comment_id, rti_id, comment_text);
        });
      });
    });
  });
}
function post_delete_comment(comment_id, rti_id){
  $.ajax({
      url : '/post_delete_comment',
      data : {
        comment_id : comment_id 
      },
      dataType : 'json',
      beforeSend : function(){

      },
      success : function(data){
        // alert(data);
        $('.comment_readbox' + comment_id).each(function(){
          $(this).remove();
        })
        
        $('.lc_count'+rti_id).each(function(){
          $(this).html(data['no_likes']+ ' likes - ' + data['no_comments'] +'comments');
        });
      },
      error : function(err){
        console.log(err);
      }

    });
}
</script>
{% endblock %}