{% extends 'base.html' %}
{% block content %}
<script src="/static/scripts/load_feed.js"></script>
<script src="/static/scripts/feedbox.js"></script>
<div class="content-wrapper col-md-8">
<br>
  <div id = "feedcontainer">
    {{ feed_box | safe }}
  </div>
  <div id="fb-root"></div>

  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=724628884303364";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class = "col-md-12" style = "margin-bottom : 40px;">
    <div class="fb-comments" data-href="{{ fb_blog_url }}" data-numposts="5" data-width="100%"></div>

</div>

</div>






{% endblock %}