{% extends 'base.html' %}
{% block content %}
<script src="/static/scripts/load_feed.js"></script>
<div class = "col-md-10">
  <div class="content-wrapper" style = "padding-left : 30px; padding-right : 30px; padding-top : 70px;"> 
    <div id = "feedcontainer"></div>
    
  
  </div>
  
</div>
<script type="text/javascript">

  $.ajax({
    url : '/view_rti',
    data : {
      rti_query_id : {{ rti_query_id }}
    },
    success : function(data){
      $('#feedcontainer').append(data);
    },
    error : function(err){
      console.log(err);
    }

  })

</script>

<script src="/static/scripts/feedbox.js"></script>


{% endblock %}