{% extends 'TDS/tds_base.html' %}
{% block profile_body %}
<div class="col-md-12">
  <div  id="follow_container">
  <h3>Followers</h3>
      
</div>
<script type="text/javascript">
  $.ajax({
    url : '/get_tds_follow',
    data : {
      tds_id : {{ tds_id }},
      tds_type : '{{ tds_type }}',
      start_from : 0,
      max_size : 30,

      details_required : '{{ details_required }}',
    },
    success : function(data){
      // alert(data);
      $('#follow_container').append(data);
    },
    error : function(err){
      console.log(err);
    }
  });
</script>

{% endblock %}