{% extends 'Profile/profile_base.html' %}
{% block profile_body %}
<div class="col-md-9">
  <div  id="follow_container">
  {% if details_required == 'followers'  %}
  <h3>Followers</h3>
  {% else %}
  <h3>Following</h3>
  {% endif %}
  </div>
  <div class = "box box-primary">
    <div class = "box-header"></div>
    <div class="box-body">
      <table class = "table">
        {% for ur in user_list  %}
        <tr>
          <td style="width : 36px;" ><img height="36" width="36" class="img-circle" src="{{ ur.profile_picture.url }}"></td>
          <td><a href="/profile/{{ ur.username }}">{{ ur.name_user }}</a></td>
          <td>Followers {{ ur.num_followers }}</td>
          <td>Following {{ ur.num_following }}</td>
          <td>RTIs {{ ur.num_rtis }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class = "box-footer">
      <div class = "pull-right">
        <ul class="pagination">
        {% if multiple_pages %}
          {%for page in page_url_list %}
            <li {% if page.active %} class = "active" {% endif %}>
             <a href="{{ page.url }}">{{page.page_no}}</a></li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </div>  
</div>
{% endblock %}