{% extends 'base.html' %}
{% block content %}

<script src="/static/plugins/dropzone/dropzone.js"></script>
<link href="/static/dist/css/dropzone.css" rel="stylesheet" type="text/css">

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- <section class="content-header">
    <h1>
      User Profile
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Examples</a></li>
      <li class="active">User profile</li>
    </ol>
  </section> -->

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="/media/{{ profile_picture }}" alt="User profile picture">
            <h3 class="profile-username text-center"><a href = '/profile/{{ username }}' >{{ name_user }}</a> </h3>
            <p class="text-muted text-center">{{ bio_description }}</p>
            {% if is_me %}
            <center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#photo_modal">Update Photo</button></center>
            <br>
            {% endif %}
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b><a href="/profile/{{ username }}/followers">Followers</a></b> <a class="pull-right" id = 'num_followers'>{{ num_followers }}</a>
              </li>
              <li class="list-group-item">
                <b><a href="/profile/{{ username }}/following">Following</a></b> <a class="pull-right" id = 'num_following'>{{ num_following }}</a>
              </li>
              <li class="list-group-item">
                <b><a href="/profile/{{ username }}/rtis">RTIs</a></b> <a class="pull-right" id = 'num_following'>{{ num_rtis }}</a>
              </li>
            </ul>
            {% if not is_me %}
              {% if not user_follow_status %}
                <a href="#" class="btn btn-primary btn-block user_follow_btn" id = "follow_btn"><b>Follow</b></a>
              {% else %}
                <a href="#" class="btn btn-danger btn-block user_unfollow_btn" id = "unfollow_btn"><b>Unfollow</b></a>
              {%  endif %}
              <br>
              {% if previous_messages %}
                <a href="/messages/{{ username }}"><b>MESSAGES</b></a>
              {% else %}
                <a href="/messages/{{ username }}" id = "messages_link" style = "display : none"><b>MESSAGES</b></a>
                <a href="#!" id = "message_modal_link" data-toggle="modal" data-target="#messagemodal"><b>MESSAGE</b></a>
              {% endif %}

            {% endif %}
          </div><!-- /.box-body -->
        </div><!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">About Me</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <strong><i class="fa fa-book margin-r-5"></i>Email</strong>
            <p class="text-muted">
              {{ email }}
            </p>

            <hr>

            <strong><i class="fa fa-map-marker margin-r-5"></i> State</strong>
            <p class="text-muted">{{ state }}</p>

           
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
      {% block profile_body %}
      
      {% endblock %}
      </div><!-- /.col -->
    </div><!-- /.row -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div id="photo_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Profile Picture</h4>
      </div>
      <div class="modal-body">
        <div id = "update_profile_photo" class = 'dropzone'></div>
      </div>
      <div class="modal-footer">
        <button type="button" id ="closedp" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="messagemodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span></button>
      <h4 class="modal-title" id="myModalLabel">Write a new message</h4>
    </div>
    
      <div class="modal-body">
        
        <div class="form-group">
          <label for="content">Message</label>
          <textarea class="form-control" id="message_modal_text" name="message_modal_text" placeholder="Message.."></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" id = "close_message_modal" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id = "message_modal_button" class="btn btn-primary">Send Message</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<script src="/static/scripts/follow_unfollow_user.js"></script>
<script type="text/javascript">
  make_handlers_for_follow({{ user_id }});
  var myDropzone = new Dropzone("div#update_profile_photo", { 
    url: "/submit_profile_photo",
    maxFiles : 1,
    maxFilesize : 2,
    acceptedFiles : 'image/*',
    // addRemoveLinks : true,
    dictDefaultMessage : 'Click to browse OR drag files here'
  });

  myDropzone.on('complete', function(){
    $('#closedp').trigger('click');
    location.reload();
  });

  $('#message_modal_button').on('click', function(){
    
    var message_text = $('#message_modal_text').val().trim();
    if(message_text.length == 0){
      swal('Please write a message');
      return;
    }

    

    $.ajax({
      url : '/send_message/{{ username }}',
      data : {
        'message_text' : $('#message_modal_text').val()
      },
      dataType : 'json',
      beforeSend: function(){
        $('#message_modal_button').html('Please wait');
      },
      success : function(data){
        swal('Sent!', 'Your message has been delivered', 'success');
        $('#close_message_modal').trigger('click');
        $('#message_modal_link').css('display', 'none');
        $('#messages_link').css('display', '');
      },
      error : function(err){
        swal('Oops!', 'There was a problem delivering your message', 'error');
        console.log(err);
      }
    })
  });


</script>
{% endblock %}