{% extends 'Profile/profile_base.html' %}
{% block profile_body %}
<div class="col-md-9">
  <div  id="follow_container">
  {% if details_required == 'followers'  %}
  <h3>Followers</h3>
  {% else %}
  <h3>Following</h3>
  {% endif %}
  </div>
      
</div>
<script type="text/javascript">
  $.ajax({
    url : '/get_profile_follow',
    data : {
      user_id : {{ user_id }},
      start_from : 0,
      max_size : 30,

      details_required : '{{ details_required }}',
    },
    success : function(data){
      // alert(data);
      $('#follow_container').append(data);
    },
    error : function(err){
      console.log(err);
    }
  });
</script>

{% endblock %}