{% extends 'Profile/profile_base.html' %}
{% block profile_body %}
<div class="col-md-9">
  <div  id="activity">

        <!-- ACTIVITY FEED -->
        
  </div>
</div>
<script type="text/javascript">
  $.ajax({
    url : '/get_profile_feed',
    data : {
      user_id : {{ user_id }},
      startfeed : 0,
      maxfeed : 5
    },
    success : function(data){
      $('#activity').append(data);
    },
    error : function(err){
      console.log(err);
    }
  });
</script>
<script src="/static/scripts/feedbox.js"></script>
{% endblock %}