<div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-white">
    <div class="widget-user-image">
      <img class="img-circle" src="/media/{{ profile_picture }}" alt="User Avatar">
    </div>
    <!-- /.widget-user-image -->
    <h4 class="widget-user-username"><a href="/profile/{{ username }}"> {{ name_user }}</a></h4>
    <h5 class="widget-user-desc">{{ bio_description }}</h5>
  </div>
  
</div>