{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper col-md-8">
  <br>
  <div class = "box box-primary">
    <div class = "box-header">
      <h4 class =  "box-title">RTIs awaiting Response</h4>
    </div>
    <div class = "box-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th style="width: 10px">Search Results</th>
          
        </tr>

        {% for topic in topic_list %}
        <tr>
          <td></td>
        </tr>
        {% endfor %}

        
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--</div>-->

        

{% endblock %}